
    .contnet{
        position: absolute;
        left: 40%;
        top: 50%;
    }
 
    #section-1{
        width: 100%;
        height: 100vh;
          background-image: url("image/41-public-the-roof-es-night-1635x1080-1-1380x690.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    #section-2{
        background-color: greenyellow;
        height: 100vh;
        width: 100%;
    }